
.rwd-table {
  margin: 1em 0;
  min-width: 250px;
}
.rwd-table tr {
 
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) "";
  font-weight: bold;
  display: inline-block;
}
@media (min-width: 610px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 610px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  /*background-color:#34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;*/

  
}
.rwd-table tr {
}
.rwd-table th, .rwd-table td {
  margin: .0em 1em;

}
@media (min-width: 610px) {
  .rwd-table th, .rwd-table td {
    padding: 0.9em !important;
  }

}
@media (max-width: 610px) {
    .rwd-table.table > thead > tr > th, .rwd-table.table > tbody > tr > th, .rwd-table.table > tfoot > tr > th, .rwd-table.table > thead > tr > td, .rwd-table.table > tbody > tr > td, .rwd-table.table > tfoot > tr > td {
        padding: 0 !important;
    }

    .rwd-table.table .form-control {
        margin-bottom: 10px;
    }
}
.rwd-table th, .rwd-table td:before {
 
}


.rwd-table > tbody > tr:nth-child(2n+1) > td, .rwd-table > tbody > tr:nth-child(2n+1) > th {
    /*background-color: #f9f9f9;*/
}